html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #aaffaa;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

header h1 {
    margin: 0;
    margin-left: 20px;
    color: #006600;
}

header input {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    font-size: 16px;
    width: 30%;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

header input:hover {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

header input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

main {
    width: 700px;
    max-width: 60%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    padding-bottom: 10px;
}

main section {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main section h2 {
    margin:0;
    border-left: #44bb44 5px solid;
    border-bottom: #44bb44 1px solid;
    padding-left: 10px;
    margin-bottom: 10px;
}

main section p {
    margin:0px;
    line-height: 1.6;
}

a.button {
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #44bb44;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a.button:hover {
    background-color: #339933;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}